<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.raintea.dao.mapper.OrderMapper">
    <resultMap id="OrderOutApi" type="com.raintea.entity.OrderEntity">

        <id column="id" property="order_id"/>
        <result column="username" property="owner_name"/>
        <result column="progress" property="progress"/>
        <result column="order_number" property="order_number"/>
        <result column="cause" property="cause"/>
        <result column="address" property="address"/>
        <result column="telephone" property="owner_phone"/>
        <result column="appointment_time" property="appointment_time"/>

        <collection property="image" ofType="String">
            <result column="img_url" property="image"/>
        </collection>
    </resultMap>

    <select id="get" parameterType="com.raintea.entity.OrderIn" resultMap="OrderOutApi">
SELECT
tenement_repair.id,
tenement_owner.username,
tenement_repair.progress,
tenement_repair.order_number,
tenement_repair.cause,
tenement_repair.address,
tenement_owner.telephone,
tenement_repair.appointment_time,
tenement_image.img_url
FROM
tenement_repair
INNER JOIN tenement_owner ON tenement_repair.owner_id = tenement_owner.id
INNER JOIN tenement_image ON tenement_repair.id = tenement_image.flag_id
WHERE
tenement_image.flag = 1 AND
tenement_repair.community_id = #{community_id} AND
tenement_repair.worker_id = #{worker_id}

  </select>
</mapper>